#
# FORMAT:
# 
# variablenname = variablenwert
# variablenliste = wert1,wert2, wert3 
#
# alle zeilen, die mit '#' beginnen, werden nicht interpretiert. (kommentarzeile)
# wenn sich ein variablenwert über mehrere zeilen erstreckt,
# dann muss vor dem zeilenumbruch ein '\' stehen
# 

############# ALLGEMEINE ANGABEN ##############
#

title = Einfaches Beispiel

description = Zeigt, wie man ein simples Liniendiagramm für einen Wert in einer Tabelle \
    darstellt. Summiert nach Monaten. Es werden nur Daten von 8:00 bis 20:00 gezeigt.




############# VERBINDUNGSPARAMETER (zwingend erforderlich) ##############

connection.hostname   = ${testdatabase.hostname}
connection.portnumber = ${testdatabase.portnumber}
connection.user       = ${testdatabase.username}
connection.password   = ${testdatabase.password}




############# DATENQUELLEN PARAMETER ##############


#
# ------------------ TABELLEN ------------------
#
#
# -- bestimmt, wenn definiert, welche tabelle(n) als quelle dienen
data.tables = LEISTUNG  
	
	
# definition von tabelle mit alias LEISTUNG
# hier wird nur der wert kWh_pro15min mitgerechnet, kein preis.
LEISTUNG.database       = fm_control
LEISTUNG.table          = fmcontrol_kw_leistung
LEISTUNG.date-column    = Datum
LEISTUNG.time-column    = Zeit
LEISTUNG.value-1.column = kWh_pro15min * 1.05


# die namen der werte, die selektiert werden:
data.value-1.label = kWh verbraucht


# -- bestimmt, wie die daten gruppiert werden sollen
# -- möglich ist: HOUR, DAY, MONTH, YEAR, TOTAL
data.group.type = HOUR

#
# ------------------ FILTEREINSTELLUNGEN ------------------
#
#
#
# -- bestimmt die grenzen des zeitraums, der (inklusive) selektiert wird. DEFAULT: alles
# -- format ist 'yyyy-mm-dd - yyyy-mm-dd', auch TODAY ist möglich
data.filter.date-bounds = 2012-02-01 - 2012-02-03

# -- bestimmt die tageszeit, in der selektiert wird. DEFAULT: 0-24
# -- format ist 'h24:mm:ss - h24:mm:ss'
data.filter.daytime-bounds = 08:00:00 - 20:00:00





#############  ANZEIGEEINSTELLUNGEN ############# 



# soll die sql query auf der webpage angezeigt werden?
display.debug.dumpsql = ${debugsettings.displaySqlQueryInWebPage}

# soll das ergebnis in tabellenform angezeigt werden?
display.show.as.table = true


# ------------------ AUSWAHLEINSTELLUNGEN ------------------


# bestimmt, ob der benutzer auf der Page die verwendeten Tabellen ändern kann.
# Es wird eine Auswahlbox auf der Seite angezeigt, natürlich nur wenn es mehrere definierte 
# Tabellen gibt. ;-)
user.can-change.tables           = true

# bestimmt, ob der benutzer auf der Page die verwendeten Werte ändern kann.
# Es wird eine Auswahlbox auf der Seite angezeigt, natürlich nur wenn es mehrere definierte 
# Werte gibt. ;-)
user.can-change.columns          = true

# bestimmt, ob der benutzer auf der Page den verwendeten Tageszeitbereich ändern kann.
user.can-change.daytime-bounds   = true

# bestimmt, ob der benutzer auf der Page den verwendeten Datumsbereich ändern kann.
user.can-change.date-bounds      = true

# bestimmt ob der benutzer die Gruppierung ändern kann.
user.can-change.groupby          = true

#
# ------------------ DIAGRAMMEINSTELLUNGEN ----------
#

# -- bestimmt den diagrammtyp. 
# -- gültig sind: LINIENDIAGRAMM, BALKENDIAGRAMM
chart.type = LINIENDIAGRAMM

