#
# FORMAT:
# 
# variablenname = variablenwert
# variablenliste = wert1,wert2, wert3 
#
# alle zeilen, die mit '#' beginnen, werden nicht interpretiert. (kommentarzeile)
# wenn sich ein variablenwert über mehrere zeilen erstreckt,
# dann muss vor dem zeilenumbruch ein '\' stehen
# 

############# ALLGEMEINE ANGABEN ##############
#

title = Kombiniere 2 Tabellen

description = Zeigt, wie man die Werte mehrerer Tabellen summiert. \
In diesem Beispiel wird der Preis mit dem Verbrauch multipliziert wird, \
wobei in der zweiten Tabelle der dort fehlende Preis durch einen Fixwert ersetzt.




############# VERBINDUNGSPARAMETER (zwingend erforderlich) ##############

connection.hostname   = ${testdatabase.hostname}
connection.portnumber = ${testdatabase.portnumber}
connection.user       = ${testdatabase.username}
connection.password   = ${testdatabase.password}





############# DATENQUELLEN PARAMETER ##############



#
# ------------------ TABELLEN ------------------
#
#
# -- bestimmt, wenn definiert, welche tabelle(n) als quelle dienen
data.tables = LEISTUNGB , TEST2


# definition von tabelle mit alias LEISTUNG
# hier wird nur der wert kWh_pro15min mitgerechnet, kein preis.
LEISTUNGB.database       = fm_control
LEISTUNGB.table          = fmcontrol_kw_leistungb
LEISTUNGB.date-column    = Datum
LEISTUNGB.time-column    = Zeit
LEISTUNGB.value-1.column = kWh_pro15min
LEISTUNGB.value-2.column = kWh_pro15min * kWh_Preis


# definition von tabelle mit alias TEST2
# hier wird nur der wert kWh_pro15min mitgerechnet, kein preis.
TEST2.database       = test
TEST2.table          = foo
TEST2.date-column    = Datum
TEST2.time-column    = Zeit
TEST2.value-1.column = kWh_pro15min
TEST2.value-2.column = kWh_pro15min * 0.135


# die namen der werte, die selektiert werden:
data.value-1.label = kWh verbraucht
data.value-2.label = Preis in €

# -- bestimmt, wie die daten gruppiert werden sollen
# -- möglich ist: HOUR, DAY, MONTH, YEAR, TOTAL
data.group.type = YEAR


#
# ------------------ FILTEREINSTELLUNGEN ------------------
#
#
#
# -- bestimmt die grenzen des zeitraums, der (inklusive) selektiert wird. DEFAULT: alles
# -- format ist 'yyyy-mm-dd - yyyy-mm-dd', auch TODAY ist möglich
data.filter.date-bounds = 2012-01-01 - TODAY

# -- bestimmt die tageszeit, in der selektiert wird. DEFAULT: 0-24
# -- format ist 'h24:mm:ss - h24:mm:ss'
#data.filter.daytime-bounds = 08:00:00 - 20:00:00





#############  ANZEIGEEINSTELLUNGEN ############# 



# soll die sql query auf der webpage angezeigt werden?
display.debug.dumpsql = true

# soll das ergebnis in tabellenform angezeigt werden?
display.show.as.table = true



# ------------------ AUSWAHLEINSTELLUNGEN ------------------


# bestimmt, ob der benutzer auf der Page die verwendeten Tabellen ändern kann.
# Es wird eine Auswahlbox auf der Seite angezeigt, natürlich nur wenn es mehrere definierte 
# Tabellen gibt. ;-)
user.can-change.tables           = true

# bestimmt, ob der benutzer auf der Page die verwendeten Werte ändern kann.
# Es wird eine Auswahlbox auf der Seite angezeigt, natürlich nur wenn es mehrere definierte 
# Werte gibt. ;-)
user.can-change.columns          = true

# bestimmt, ob der benutzer auf der Page den verwendeten Tageszeitbereich ändern kann.
user.can-change.daytime-bounds   = true

# bestimmt, ob der benutzer auf der Page den verwendeten Datumsbereich ändern kann.
user.can-change.date-bounds      = true

# bestimmt ob der benutzer die Gruppierung ändern kann.
user.can-change.groupby          = true




#
# ------------------ DIAGRAMMEINSTELLUNGEN ----------
#

# -- bestimmt den diagrammtyp. 
# -- gültig sind: LINIENDIAGRAMM, BALKENDIAGRAMM
chart.type = LINIENDIAGRAMM
