<?xml encoding='UTF-8' ?>
<config>
    <start-items>
        <start-item name='firefox'>
            <start-command>firefox</start-command>
            <start-regex>(?i)firefox</start-regex>
            <visible-regex>(?i)firefox</visible-regex>
            <desktop>1</desktop>
            <coordinates x='25' y='98' w='1014' h='953' />
        </start-item>
        <start-item name='skype'>
            <start-command>skype</start-command>
            <start-regex>(?i)skype</start-regex>
            <visible-regex>(?i)skype</visible-regex>
            <desktop>0</desktop>
            <coordinates x='1645' y='98' w='266' h='495' />
        </start-item>
        <start-item name='empathy'>
            <start-command>empathy</start-command>
            <start-regex>(?i)empathy</start-regex>
            <visible-regex>(?i)(contact list|Kontaktliste)</visible-regex>
            <desktop>0</desktop>
            <coordinates x='1335' y='98' w='286' h='495' />
        </start-item>
        <start-item name='xterm'>
            <start-command>xterm -bg black -fg white -fn 7x13 -e /bin/zsh</start-command>
            <start-regex>(?i)xterm</start-regex>
            <visible-regex>(?ix) andre @ buenosaires \s* : \s* ~</visible-regex>
            <desktop>2</desktop>
            <coordinates x='23' y='98' w='844' h='953' />
        </start-item>
        <start-item name='transmission'>
            <start-command>transmission</start-command>
            <start-regex>(?i)transmission</start-regex>
            <visible-regex>(?i)transmission</visible-regex>
            <desktop>0</desktop>
            <coordinates x='1335' y='642' w='576' h='409' />
        </start-item>
        <start-item name='liferea'>
            <start-command>liferea</start-command>
            <start-regex>(?i)liferea</start-regex>
            <visible-regex>(?i)liferea</visible-regex>
            <desktop>1</desktop>
            <coordinates x='1067' y='98' w='844' h='953' />
        </start-item>
        <start-item name='thunderbird'>
            <start-command>thunderbird</start-command>
            <start-regex>(?i)thunderbird</start-regex>
            <visible-regex>(?i)thunderbird</visible-regex>
            <desktop>0</desktop>
            <coordinates x='25' y='98' w='1286' h='953' />
        </start-item>
        <start-item name='gmpc'>
            <start-command>gmpc</start-command>
            <start-regex>(?i)gmpc</start-regex>
            <desktop>2</desktop>
            <coordinates x='892' y='98' w='1019' h='953' />
        </start-item>
    </start-items>
    <precondition-items>
        <start-item name='desktop'>
            <visible-regex>(?i)x-nautilus-desktop</visible-regex>
        </start-item>
        <start-item name='upperPanel'>
            <visible-regex>(?i)(Oberes Kanten-Panel|Top Expanded Edge Panel)</visible-regex>
        </start-item>
        <start-item name='lowerPanel'>
            <visible-regex>(?i)(Unteres Kanten-Panel|Bottom Expanded Edge Panel)</visible-regex>
        </start-item>
    </precondition-items>
</config>

