<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd HH:mm:ss} %25.25C{1}.%-30.30M - %m\n" />
        </layout>
    </appender>

    <logger name="org.apache.wicket">
        <level value="WARN" />
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="com.myapp.web.fileexchange.servlet.UploadServlet">
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </logger>
    
<!--     <root> -->
<!--         <level value="ERROR" /> -->
<!--         <appender-ref ref="STDOUT" /> -->
<!--     </root> -->
</log4j:configuration>
